*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #333;
}
.gameContainer{
    width: 352px;
    height: 198px;
    outline: 1px solid white;
}


.gameCanvas{
    width: 352px;
    height: 198px;
}